/*
Theme Name: Responsive CodifyMe
Theme URI: www.ehatchery.com.au
Author: Vincent Alcantara
Author URI: www.ehatchery.com.au
Template: responsive
Description: Theme created for Codify Me
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: responsive
Domain Path: /languages/
Tags: party, slider
*/

@import url("../responsive/style.css");

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);


/* Reset */
html, body, #container, #wrapper, #content-full, .type-page, .post-entry{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans','HelveticaNeue-Light',sans-serif;
	height:100%;
	background: #fff;
}

div:focus {
	outline: 0;
}

#container,#footer {
	max-width: 2500px;
	margin: 0;
	padding: 0;
}

.skip-container, #wrapper, #content-full, #footer {
	padding: 0;
	margin: 0;
	border: 0;
}

h1 {
	/*font-size:3.625em;*/
	font-size:52px;

}

h2 {
	/*font-size: 2em;*/
	font-size:28px;
	line-height: 19px;
}



/* landing page css */


.full_background {
	text-align: center;
}


/* for a full div background - ensure all parents' heights are 100% */
#landing-page {
	background-image: url('http://www.codifyme.co/wp-content/uploads/2014/08/no-bag-no-helmet.jpg');
	min-height:100%;
	min-width: 1024px;

	width: 100%;
	height: 100%;
	

	background-position: center;
	background-size: cover;
	color: #fff;
}

#landing-page-header,
#landing-page-message, 
.widget-wrapper, 
.colophon-widget .textwidget{
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
	border: none;
}

#header,
.page h1,
.codify_container{
	max-width: 1024px;
	margin: 1em auto;
	text-align: center;
	border: none;
}

.codify_container p {
	padding: 0 5px;
	color: #888;
}
#preview-iframe {
	max-width: 1280px;
	margin: 0 auto;
}
.skip-container {
	display: none;
}
/* Hide home title and header*/
.home #header, #post-4 .post-title, #post-5 .post-title, .home .post-edit{
	display: none;
	margin: 0;
}

#landing-page-header {
	height: 10%;
	margin: 0 auto;
	padding: 10px 0;
}
#landing-page-logo{
	height:30px;
	display: inline-block;
	float: left;
	margin-top: 20px;
}
#landing-page-menu{
	height:30px;
	display: inline-block;
	float: right;
}

#beta-message {
	font-size: 26px;
}


#landing-page-message {
	display: block;
	/*height:90%;*/
	height: 88%;
	position: relative;
}
#landing-page-message-header{
	height:auto;
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	padding-top: 5px;
}
#landing-page-message-body {
	/*	height:2em;*/
	display: block;
	width:100%;
}
#landing-page-message-footer {
	height:auto;
	display: block;
	width: 100%;
	position: absolute;
	bottom:0;
	padding-bottom: 5%;
	
}


#landing-page-menu a {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	padding: 0 5px;
}

.top-menu li a {
	font-size: 18px;
	font-weight: bold;
	padding: 0 5px;
}

#logo {
	padding:5px;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
	color: #aaa;
}

input[type=text], input[type=email], textarea {
	color: #000;
	font-size: 14px;
	padding:10px;	
	font-family: 'Open Sans','HelveticaNeue-Light',sans-serif;
}
textarea {
	width: 340px;
	border: 1px solid #aaa !important;

}
input[type=text], input[type=email] {
	border: 1px solid #aaa !important;
	height: 46px;
}
input[type=email] {
	margin-right: -5px;
}

input[type=submit], select{
	background-color: #37a447;
	border: 1px solid #37a447;
	color: #fff;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#37a447),to(#37a447));
	background-image: -webkit-linear-gradient(top,#37a447,#37a447);
	background-image: -moz-linear-gradient(top,#37a447,#37a447);
	background-image: -ms-linear-gradient(top,#37a447,#37a447);
	background-image: -o-linear-gradient(top,#37a447,#37a447);
	background-image: linear-gradient(top,#37a447,#37a447);
	font-weight: normal;
	text-shadow: none;
	height: 46px;
	padding:10px;
	font-family: 'Open Sans','HelveticaNeue-Light',sans-serif;
}
input[type=submit]:hover{

	background-color: #8BE25F;
	border: 1px solid #8BE25F;
	color: #fff;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#8BE25F),to(#8BE25F));
	background-image: -webkit-linear-gradient(top,#8BE25F,#8BE25F);
	background-image: -moz-linear-gradient(top,#8BE25F,#8BE25F);
	background-image: -ms-linear-gradient(top,#8BE25F,#8BE25F);
	background-image: -o-linear-gradient(top,#8BE25F,#8BE25F);
	background-image: linear-gradient(top,#8BE25F,#8BE25F);
	font-weight: normal;
	text-shadow: none;
	height: 46px;
	padding:10px;
	
}

#become-a-mentor input[type=submit]{
	width: 120px;
}

/* iframe */
#preview-home, #preview-mentor-profile, #preview-respond-to-booking, 
#preview-iframe {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
}

/* Footer */
.footer-wrapper {
	vertical-align: middle;
	text-align: center;
	background-color: #fff;
}

#footer-wrapper .grid.col-940{
	background-color: #fff;
}

.colophon-widget .full_background p,
.landing-footer, .codify_container p  {
	font-size: 20px;
	line-height: 30px;
}

#text-2, #text-4{
	background-color: #fff;
	max-width: 100%;
	margin: 0;
	color: #888;
}

/* become a mentor and footer */
#text-3, #text-5{
	background-color: #f2f2f2;
	max-width: 100%;
	margin: 0;
	color: #888;
}

#text-3 h1, #text-5 h1 {
	color: #636363;
}

/* Mission Statement */
#mission-statement, #become-a-mentor, #sign-up-for-beta {
	margin: 7em auto;
	height:100%;
}

#mission-statement h1, #become-a-mentor h1, #sign-up-for-beta h1{
	color: #636363;
}

.landing_page_form {
	text-align: center;
	margin: 0 auto;
	width: 350px;
}

.landing_page_form input{
	margin: 7px auto;
}

.landing_page_form textarea{
	margin-top: 20px;
}


.colophon-widget input[type=email], .landing_page_beta_form input[type=email] {
	width:350px;
}
.landing-footer {
	width: 33%;
	float:left;
	display: inline-block;
	text-align: center;
	padding: 40px 0;
	height: 40px;
}
/* Error messages */

span.wpcf7-not-valid-tip {
	font-size: 12px;
	font-family: font-family: 'Open Sans','HelveticaNeue-Light',sans-serif;
}

#landing-page span.wpcf7-not-valid-tip {
	font-size: 12px;
	display: inline;
	float: left;
	position: relative;
	top: 50px;
	left: 410px;
	background: #eee;
	width: 200px;
	display: none;
}

.div.wpcf7-validation-errors {
	background: #f7e700 !important;
	color: #000 !important;
}
.social_icons a{
	padding: 0 10px;
}
.textwidget {
		font-size: 11px;
}
@media (min-width:320px) and (max-width:1023px){
	#landing-page-header,#landing-page-message, .widget-wrapper, 
	.colophon-widget .textwidget , #container, #footer {
		max-width: 100%;
	}

	#landing-page {
		min-width: 100%;
	}
	#landing-page-header, #landing-page-message, .widget-wrapper, 
	.colophon-widget .textwidget  {
		max-width: 95%;
	}
	#landing-page-header {
		padding: 2px; 
		height: 35px;

	}
	#landing-page-logo {
		margin: 2px;
	}
	#landing-page-header p {
		margin: 0;
	}
	#landing-page-menu {
		margin: 2px;
	}
	#landing-page-menu a {
		font-size: 10px;
		padding: 0.7em 0;
	}

	#header {
		margin: 0;
	}
	.top-menu {
		float: right;
		padding: 0 2px;
	} 

	.top-menu li a {
		font-size: 10px;
		padding: 0 2px;
	}

	#logo {
		float:left;
		padding: 5px 2px;
	}

 	.page h1, .codify_container {
 		margin: 1em auto`;
 	}

 	.page h1 {
 		font-size: 21px;
 	}

	h1 {
		/*font-size:26px;
		margin: 5px;*/
		font-size: 21px;
		margin: 0.5em;
		padding-top: 0;
	}

	h2 {
		font-size:1.5em;
		line-height: 1.1em;
		margin: 0.4em;
	}

	#landing-page-message {
		height: 90%;
	}
	#landing-page-message-header {
		height:auto;
	}
	/*#landing-page-message-body {
		height: 4em;
	}*/
	#landing-page-message-footer {
		height: auto;
		position: absolute;
		bottom: 0;
	}

	#beta-message {
		font-size: 13px;
		margin: 0;

	}

	div.wpcf7-validation-errors, div.wpcf7-mail-sent-ok {
		font-size: 0.8em;
	}

	


	.colophon-widget .full_background p, .landing-footer, .codify_container p {
		font-size: 12px;
		line-height: 15px;
	}

	span.wpcf7-not-valid-tip, #landing-page span.wpcf7-not-valid-tip  {
		font-size: 10px;
	}

	input[type=text], input[type=email], textarea, input[type=submit] {
		font-size: 10px;
	}



	#mission-statement, #become-a-mentor, #sign-up-for-beta {
		margin:0;
	}

	.landing_page_form {
		width: 280px;
	}

	form {
		margin: 0;
	}

	input[type=email], input[type=text]{
		margin-top: 5px;
		height: 28px;
		padding: 3px;
	} 
	input[type=submit], input[type=submit]:hover {
		margin-top: 5px;
		height:28px;
		padding: 3px;
	}
	.div.wpcf7-validation-errors {
		background: #eee;
		color: #000;
	}
	textarea {
		width: 300px;

	}

	
}
@media (max-width:320px) {
	#landing-page-header,#landing-page-message, .widget-wrapper, 
	.colophon-widget .textwidget , #container, #footer {
		max-width: 320px;
	}

	#landing-page {
		min-width: 320px;
	}
	#landing-page-header, #landing-page-message, .widget-wrapper, 
	.colophon-widget .textwidget  {
		max-width: 310px;
	}

	h1 {
		font-size: 1.9em;
		margin: 0.1em;
		padding-top: 0;
	}

	h2 {
		font-size:14px;
		line-height: 18px;
		margin: 0.05em;
	}
	#beta-message {
		font-size: 13px;
		margin: 0 0 -15px 0;

	}
	#landing-page-message {
	display: block;
	/*height:90%;*/
	height: 95%;
	}
	#landing-page-header {
		padding: 6px 2px;
		height: auto;
	}
	#landing-page-message-footer {
		padding-bottom: 0;
	}
	input[type=email] {
		margin: 0;
	}
	div.wpcf7 img.ajax-loader {
		margin-left: 0;
	}
}

@media (max-height: 320px) {
	h1 {
		font-size: 1.9em;
		margin: 0.1em;
		padding-top: 0;
	}

	h2 {
		font-size:0.9em;
		line-height: 1em;
		margin: 0.05em;
	}

	#landing-page-header {
		padding: 5px 2px;
		height: auto;
	}
	#beta-message {
		font-size: 0.9em;

	}
	#landing-page-message-footer {
		padding-bottom: 1%;
	}

}


